<%= link_to "Add a new cocktail", new_cocktail_path %>

<h1>List of cocktails</h1>

<%= form_tag(cocktails_path, method: :get) do %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>





<% @cocktails.each do |cocktail| %>
  <div class="cocktail">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  </div>
<% end %>
